.Summary {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Atma', cursive;
    height: 100vh;
    justify-content: center;
    padding: 20px;
    text-align: center;
    width: 100vw;
}

.Summary__positive {
    background: #6cda6c;
}

.Summary__negative {
    background: #f96b61;
}

.Summary--header {
    font-size: 3em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
}

.Summary--points {
    font-size: 1.5em;
}

.Summary--start-again {
    text-align: center;
    padding: 20px;
}
.Summary--start-again button {
    background: rgba(255, 255, 255, 0.3);
    font-family: 'Atma', sans-serif;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 2em;
    padding: 0.5em;
}
