.Hint {
    height: 100%;
}

.Hint--front,
.Hint--back {
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Hint--front {
    font-family: 'Atma', sans-serif;
    background-color: white;
    color: #333;
    font-size: calc( 60px + 12 * ((100vw - 400px) / 200));
    font-weight: bold;
    opacity: 0.4;
    text-transform: uppercase;
}

.Hint--back {
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Atma', sans-serif;
    color: #444;
    text-align: center;
    font-size: calc( 20px + 10 * ((100vw - 400px) / 200));
    line-height: 1.2;
}

.Hint--back__smallText {
    font-size: calc( 15px + 2 * ((100vw - 400px) / 200));
}

.Hint--back__largeText {
    font-size: calc( 30px + 10 * ((100vw - 400px) / 200));
}

.Hint--label {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    font-size: small;
    font-weight: bold;
    left: 2px;
    padding: 4px;
    position: absolute;
    top: 2px;
    z-index: 1;
}

.Hint--image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Hint--image__blurred {
    filter: blur(5px);
}

.Hint--image__round {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(30% at 50% 50%);
}
