.Result {
    align-items: center;
    background: #6cda6c;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Atma', cursive;
    height: 100vh;
    justify-content: center;
    padding: 20px;
    text-align: center;
    width: 100vw;
}

.Result__incorrect {
    background: #f96b61;
}

.Result--header {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.Result--points {
    font-size: 1.5em;
}

