.Question {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.Question--header-row {
    display: flex;
}

.Question--question {
    font-size: calc(25px + 5 * ((100vw - 400px) / 200));
    font-family: 'Atma', sans-serif;
    line-height: 1.1;
    color: white;
    padding: 10px;
}

.Question--headline {
    flex: 1;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1.2em;
}

.Question--stats {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Atma', sans-serif;
    line-height: 1.1;
    padding: 10px;
}

.Question--timer {
    font-size: 2em;
    text-align: right;
}

.Question--points {
    font-size: 1.2em;
    text-align: right;
}

.Question--hints {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Question--answers-row,
.Question--hints-row {
    display: flex;
    flex: 1;
}

.Question--answers,
.Question--hints {
    padding: 0 10px 10px 0;
}

.Question--answers {
    background-color: rgba(0, 0, 0, 0.2);
}

.Question--answer-wrapper,
.Question--hint-wrapper {
    flex: 0 1 50%;
    padding: 10px 0 0 10px;
}

.Question--answer {
    background: rgba(255, 255, 255, 0.3);
    font-family: 'Atma', sans-serif;
    color: white;
    border: none;
    padding: 0.5em;
    width: 100%;
    height: 100%;
}
